apiVersion: v1
kind: Service
metadata:
  name: flask-app-service
spec:
  selector:
    app: flask-app
  ports:
    - protocol: TCP
      port: 80          # Service port
      targetPort: 6000  # Container port
  type: NodePort      # or ClusterIP if only internal
